.heading {
  font-weight: bold;
  text-align: left;
  } 

.hide {
    display: none;
}

#banner {
  padding: 10px;
  text-align: center;
  background-color: #434343;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: whitesmoke;
  margin-top: 10px;
}

#profile-stats {
  border-style: solid;

}

.btn {
  background-color: #434343;
  border: #434343;
}

.btn:hover {
  background-color: black;
  border:black;
}

#defense-slider {
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table td, th {
  text-align: center;   
}

.tenth {
  background-color:#FFFFFF;
}

.twentieth {
  background-color: #ECF7F2;
}

.thirtieth {
  background-color:#d9eFE5;
}

.fortieth {
  background-color: #C7E8D8;
}

.fiftieth {
  background-color: #B4E0CB
}

.sixtieth {
  background-color:#a1d9be;
}

.seventieth {
  background-color:#8FD1B1;
}

.eightieth {
  background-color:#7CCAA4;
}
.ninetieth {
  background-color:#69c297;
}

.hundredth {
  background-color:#7CCAA4;
}

@media screen and (max-width: 600px) {
  .table, .text-muted {
    font-size: .7rem;
  }
  .num { 
    display: none; 
  } 
}