.heading {
  font-weight: bold;
  text-align: left;
  } 

.hide {
    display: none;
}

#banner {
  padding: 10px;
  text-align: center;
  background-color: #434343;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: whitesmoke;
  margin-top: 10px;
}

#profile-stats {
  border-style: solid;

}

.btn {
  background-color: #434343;
  border: #434343;
}

.btn:hover {
  background-color: black;
  border:black;
}

#defense-slider {
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.table td, th {
  text-align: center;   
}

.tenth {
  background-color:#EFF9F4;
}

.twentieth {
  background-color: #DEF2E8;
}

.thirtieth {
  background-color:#CDEBDC;
}

.fortieth {
  background-color: #BCE4D1;
}

.fiftieth {
  background-color: #ABDDC5;
}

.sixtieth {
  background-color:#9BD7B9;
}

.seventieth {
  background-color:#8AD0AE;
}

.eightieth {
  background-color:#79C9A2;
}
.ninetieth {
  background-color:#68C296;
}

.hundredth {
  background-color:#57BB8A;
}

@media screen and (max-width: 600px) {
  .table, .text-muted {
    font-size: .7rem;
  }
  .num { 
    display: none; 
  } 
}