.heading {
  font-weight: bold;
  text-align: left;
  } 

.hide {
    display: none;
}

#banner {
  padding: 10px;
  text-align: center;
  background-color: #434343;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: whitesmoke;
  margin-top: 10px;
}

#profile-stats {
  border-style: solid;

}

.btn {
  background-color: #434343;
  border: #434343;
}

.btn:hover {
  background-color: black;
  border:black;
}

#defense-slider {
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
